@import "../../../styles/settings.scss";

.root {
  box-shadow: 2px 3.464px 6px rgba(1, 2, 2, 0.2);
  background-color: #ffffff;

  :global(.container) > :global(.row) {
    height: 84px;
  }

  .menu {
    display: flex;
    align-self: stretch;

    ul {
      margin: 0;
      padding: 0;
      display: flex;

      li {
        list-style: none;
        display: flex;
        align-items: stretch;
      }
    }

    a {
      color: $text-color;
      text-transform: uppercase;
      font-size: 12px;
      padding: 1rem;
      text-decoration: none;
      display: flex;
      align-items: center;
      border-top: 4px solid #ffffff;
      font-weight: 500;
      letter-spacing: 1px;
      @include hover-animation;

      &:hover,
      &.active {
        background-color: $primary;
        color: #ffffff;
        border-color: $primary;
      }

      &.active {
        border-color: $text-color;
      }
    }
  }

  .dropdown {
    visibility: hidden;
  }
}

@media (max-width: 1200px) {
  .root {
    height: 130px;
    :global(.container) > :global(.row) {
      height: fit-content;
    }
    .wrapper {
      flex-direction: column;
      align-items: initial;
      margin: 0 auto;
      padding-bottom: 15px;
  
      div.search {
        order: 2;
        width: 60%;
      }

      div.menu {
        order: 1;
        width: 100%;
        align-items: center;

        ul {
          margin: 0;
          a{
            font-size: 12px;
          }
        }

      }
    }
  }
}

@media (max-width: 768px) {
  .root{
    .wrapper {
      padding: 0;

      div.menu {
        ul{
          a {
            padding: 10px;
            font-size: 14px;
          }
        }
      }
      .search {
        form{
          max-width: 460px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .root{
    .wrapper{
      flex-direction: row;
      position: relative;
      display: flex;

      .menu {
        order: 2;
        visibility: hidden;
        position: absolute;
        top: 0;
        z-index: 111;

        ul{
          flex-direction: column;
          padding-left: 0;

          li{
            z-index: 1;

            a{
              width: 100%;
              font-size: 16px;
            }
          }
        }
        ul::before {
          width: 90px;
          height: 100%;
          display: block;
          position: absolute;
          z-index: 0;
          content: ' ';
        }
      }
      .search {
        order: 1;
        padding-left: 15px;
        form{
          width: 100%;

          button {
            padding-left: 0;
          }
        }
      }
      .dropdown {
        visibility: visible;
        display: block;
        order: 2;
        z-index: 999;
        font-size: 40px;
        text-align: right;

      }
      .activeMenu {
        visibility: visible;
        background-color: $primary;
        background: rgba(0,0,0,0.5);
      }
    }
  }
}
