
@import "../../../styles/settings.scss";

.root {
  width: 100%;
  padding: 3rem 0 4rem 0;

  .borderline {
    padding: 1rem 0;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    position: relative;
  }

  img {
    width: 140px;
    height: 85px;
    border: 1px solid lightgrey;
    padding: 8px;
  }

  .button {
    background-color: $footer-claim-bg;
    position: relative;
    left: 32px;
    top: 32px;
    border: 1px solid $footer-claim-bg;
    border-width: 30px 10px 30px 10px;
  }
}


