@import "../../../styles/settings.scss";

.photo {
  position: relative;
  height: 150px;
  width: 100px;
}

.icon {
  position: absolute;
  visibility: hidden;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.root:hover{
  .icon {
    top: 50%;
    visibility: visible;
  }
}


  
