@import "../../../styles/settings.scss";

.root {
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  margin-bottom: 2rem;

  .photo {
    position: relative;
    height: 250px;
    padding: 0;
    background: {
      color: #f4f5f7;
      size: contain;
      position: center;
      repeat: no-repeat;
    }
    overflow: hidden;
    align-items: flex-end;

    .image {
      object-fit: cover;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    .sale {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #292929;
      border-radius: 50%;
      color: #ffffff;
      padding: 30px 15px 5px 15px;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      opacity: 0;
      transition: 0.2s ease-in-out;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 55px;
      width: 100%;
      padding: 1px 5px;
    }
  }

  .content {
    text-align: center;
    padding: 20px;

    h5 {
      color: $primary;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    .stars {
      a {
        text-decoration: none;
        color: rgb(42, 42, 42);
      }
    }
  }

  .line {
    margin: 0 10px;
    border-bottom: 1px solid #2a2a2a;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $primary;
      transform: translateX(-50%);
    }
  }

  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .heart {
    background-color: #2a2a2a;
    color: #e1e1e1;
  }

  .arrows {
    background-color: #2a2a2a;
    color: #e1e1e1;
  }

  .price {
    display: flex;

    .noPromoPrice {
      display:flex;
      align-items: center;
      padding-right: 5px;
      text-decoration: line-through 2px $text-dark;
      font-size: 13px;
      color: $text-grey;
    }
  }

  &:hover {
    .buttons {
      opacity: 1;
    }
    
    .price div:not(.noPromoPrice) {
      background-color: $primary;
      color: black;
    }
  } 
}


