@import "../../../styles/settings.scss";

.root {
  display: inline-flex;
  height: 45px;
  font-size: 14px;
  color: $text-color;

  .category {
    border: 1px solid $form-border-color;
    position: relative;

    &:hover {
      border-bottom: none;
      color: $primary;
    }

    .icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      &:first-child {
        color: $primary;
        width: 20px;
        left: 10px;
      }

      &:last-child {
        width: 10px;
        right: 10px;
      }
    }

    a {
      text-decoration: none;
    }

    ul {
      list-style-type: none;
      padding-left: 0;
      white-space: nowrap;
      cursor: pointer;
      z-index: 10;

      &:hover ul {
        opacity: 1;
      }

      li {
        position: relative;
        line-height: 45px;
        padding: 0 30px 0 40px;

        ul {
          position: absolute;
          left: -1px;
          width: calc(100% + 2px);
          padding-bottom: 10px;
          background-color: $body-bg;
          border: 1px solid $form-border-color;
          border-top: none;
          opacity: 0;
          transition: opacity .5s;

          li {
            line-height: 2;

            &:hover {
              color: $feature-box-border-color;
            }
          }
        }
      }
    }
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid $form-border-color;
    border-left: none;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $grey;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}

@media (max-width: 576px) {
  .root {
    display: flex;
    margin-top: 18px;

    .category {
      display: none;
    }

    .searchField{
      border-left: 1px solid $form-border-color;
      width: 100%;
      justify-content: space-between;

      input {
        width: 100%;
      }
    }
  }
}
