@import "../../../styles/settings.scss";

.root {
  border: 1px solid $form-border-color;
  display: inline-flex;
  height: 45px;
  color: $text-color;

  .category {
    border-right: 1px solid $form-border-color;
    display: flex;
    position: relative;

    .icon:first-child {
      color: $primary;
      width: 100%;
      padding-left: 10px;
      margin: auto;
    }

    .icon:last-child {
      width: 100%;
      padding-right: 10px;
      margin:auto;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin-bottom: 0;
      white-space: nowrap;
      cursor: pointer;
      z-index: 10;

      &.categoryList {
        position: relative;
        top: 50%;
        transform: translateY(-11px);
        padding: 0 10px;

        ul {
          opacity: 0;
          margin-top: 20px;
          background-color: $body-bg;
          padding: 10px 5px;
          border: 1px solid $feature-box-border-color;
          border-radius: 5%;
          transition: opacity .5s;

          li:hover {
            color: $feature-box-border-color;
          }
        }
      }

      &:hover ul {
        opacity: 1;
      }
    }



    select {
      -webkit-appearance: none;
      border: 0;
      background-color: transparent;
      padding: 5px 30px 5px 35px;
      position: relative;
      z-index: 1;
    }
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $text-color;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}
