@import "../../../styles/settings.scss";

.sticky {
  background-color: white;
  position: sticky;
  bottom: 0;
  width: 100%;
  padding-left: 210px;
  padding-bottom: 20px;
  padding-top: 20px;

  .compareListColumn {
    min-width: 145px;
  }
}
